body {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ~~~ NAV & TITLE ~~~ */

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

#site_title {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ~~~ ITEMS ~~~ */

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 20px 20px 20px;
}

.citem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 135px;
  border-radius: 25%;
  padding: 5px;
} /*flex box container for single item*/

.itemName {
  text-align: center;
} /*name of single item in item flex box*/

.liquor {
  /* background-color: #F8F8F8 */
  background-color: #e8e8e8;
} /* for item boxes with category === liquor */
.ingredient {
  background-color: #c8c8c8;
} /* for item boxes with category === ingredient */
.accessory {
  background-color: #a8a8a8;
} /* for item boxes with category === accessory */

#ingredz {
  text-align: center;
} /* for h1 cocktail ingredients label*/

#itembuttons {
  display: flex;
  flex-direction: column;
} /*flex box container with add to bar/ remove from bar buttons */

.itembutton {
  width: 10px;
  border-radius: 5%;
  /* font-family: 'Courier New', Courier, monospace; */
} /*single button (add/remove from bar)*/

#bar_cocktails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
} /*flex box container with my bar and possible cocktails */

#dog {
  border-radius: 50%;
}

#dawg {
  width: 250px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
} /* #1/3 */
#goodcocktials {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
} /* #2/3 */
#bar {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#bar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#lilx {
  height: 10px;
  width: 10px;
}

.MuiButton-sizeSmall {
  height: 30px;
  width: 30px;
  /* padding: 1px; */
  z-index: 1;
}

/* ~~~ SINGLE COCKTAIL ~~~ */

#cocktail_container {
  display: flex;
  flex-direction: column;
}

#cocktail_img {
  width: 200px;
}

#ingreds {
  display: flex;
  flex-direction: row;
}
