body {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ~~~ NAV & TITLE ~~~ */

nav a {
  display: inline-block;
  margin: 1em;
}

#site_title {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ~~~ ITEMS ~~~ */

#allitems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
} /*flex box container for all items */

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid;
  margin: 10px;
  width: 100px;
  height: 105px;
  border-radius: 25%;
  padding: 5px;
} /*flex box container for single item*/

.itemName {
  text-align: center;
} /*name of single item in item flex box*/

.liquor {
  background-color: antiquewhite;
} /* for item boxes with category === liquor */

.accessory {
  background-color: #f9e7e0;
} /* for item boxes with category === accessory */

.ingredient {
  background-color: #fbf7dc;
} /* for item boxes with category === ingredient */

#ingredz {
  text-align: center;
} /* for h1 cocktail ingredients label*/

#itembuttons {
  display: flex;
  flex-direction: column;
} /*flex box container with add to bar/ remove from bar buttons */

.itembutton {
  width: 85px;
  align-self: center;
} /*single button (add/remove from bar)*/

#bar_cocktails {
  display: flex;
  flex-direction: row;
} /*flex box container with my bar and possible cocktails */

#bar {
  margin: 0px 200px 0px 0px;
} /*my bar*/

/* ~~~ SINGLE COCKTAIL ~~~ */

#cocktail_container {
  display: flex;
  flex-direction: column;
}

#cocktail_img {
  width: 200px;
}

#ingreds {
  display: flex;
  flex-direction: row;
}
